 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 672px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 553px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 12.5rem;
  margin: -386px auto -191px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 10.625rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-1 .u-image-1 {
    width: 437px;
    height: 523px;
  }

  .u-section-1 .u-text-1 {
    font-size: 8.75rem;
    margin-top: -356px;
    margin-bottom: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-1 .u-image-1 {
    width: 299px;
    height: 407px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin: -251px 33px 60px;
  }
} .u-section-2 {
  background-image: url("images/ggggg-min.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 848px;
}

.u-section-2 .u-text-1 {
  text-shadow: 3px 3px 13px rgba(0,0,0,0.25);
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: Oswald, sans-serif;
  text-transform: none;
  margin: 145px auto 0;
}

.u-section-2 .u-text-2 {
  text-shadow: 3px 3px 13px rgba(0,0,0,0.25);
  font-size: 2rem;
  margin: 27px auto 0;
}

.u-section-2 .u-image-1 {
  height: 493px;
  width: 916px;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 699px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-text-1 {
    line-height: 1;
    font-size: 4.5rem;
  }

  .u-section-2 .u-text-2 {
    margin-top: -113px;
  }

  .u-section-2 .u-image-1 {
    height: 388px;
    width: 720px;
    margin-top: 157px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-2 {
    margin-top: -162px;
  }

  .u-section-2 .u-image-1 {
    height: 291px;
    margin-top: 254px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -94px;
  }

  .u-section-2 .u-image-1 {
    height: 201px;
    margin-top: 344px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}